
<table>
  <thead>
    <tr>
      <th>Fieldname</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each fields}}
    <tr>
      <td>{{@key}}</td>
      <td>{{this}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

